body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image:
        url("../assets/background.webp");

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    border: 1px solid rgba(255, 255, 255, 0.06);
}
