body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image:
        linear-gradient(
            rgba(5, 8, 15, 0.45),
            rgba(5, 8, 15, 0.45)
        ),
        url("../assets/background.png");

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-content {
    background: rgba(5, 8, 15, 0.35);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.06);
}
